
body {
  background-color: #181A1C;
  overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 0px;
}

::-webkit-scrollbar-track{
  background: #181A1C;
}

::-webkit-scrollbar-thumb{
  background: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: #777;
}
/* NAV SECTION */

.navbar {
  display: flex;    
  justify-content: space-between;
  align-items: center;
  background-color: #181A1C;
  color: white;
  padding: 20px;
}
.nav-left{
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-logo{
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: -5px ;
  padding: 0;
  
}
.logo-desktop{
  width: 120px;
  height:auto;
  display:block;
  margin-right: 20px;
}
.logo-mobile{
  display: none;
  position: relative;
  margin: 0;
}
.nav-menu{
  display:flex;
  align-items:center;
  gap: 20px;
  list-style:none;
}

.nav-menu a {
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.profile-menu{
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}
.profile-menu img{
  width:40px;
  height:40px;
  border-radius:50%;
  object-fit: cover;
}
.dropdown-menu{
  position: absolute;
  top: 25px;
  right: 0;
  min-width: 150px;
  background: #1F2123;
  border-radius: 16px;
  padding: 16px 0;
  display: none;
  box-shadow: 0 10px 30px rgba(0,0,0,.5);
  z-index: 999;
}
.dropdown-menu a{
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 16px 24px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  white-space: nowrap;
}
.dropdown-menu a:hover{
  background: rgba(255,255,255,.05);
}
.profile-menu:hover .dropdown-menu{
  display:block;
}


.material-symbols-outlined {
  cursor: pointer;
  font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24
}

/* BANNER SECTION */

.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 600px;
  color: white;
  position: relative;
  width: 100%;
  overflow: hidden;
  align-items: flex-end;
  padding: 60px 80px;
  box-sizing: border-box;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: 
      linear-gradient(to top, #181A1C 0%, transparent 40%),
      linear-gradient(to right, rgba(24,26,28,.75) 0%, transparent 60%);
}

.hero-content {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero-left{
  max-width: 650px;
}
.hero-right{
  display: flex;
  align-items: center;
}
.hero-content p {
  margin-top: 20px;
  font-size: 18px;
  margin-bottom: 30px;
}
.hero-button {
  display:flex;
  gap: 10px;
  align-items: center;
  
  
}
.btn-primary{
  background-color: #0F1E93;
  color: white;
  padding: 10px 26px;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 24px;
  gap: 10px;
}

.btn-secondary{
  background-color: #22282A;
  color: white;
  padding: 10px 26px;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 24px;
  gap: 10px;
}
.btn-age {
  border: 1px solid #C1C2C4;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
  cursor: pointer;
  display: flex;
}
.btn-third{
  width:52px;
  height:52px;

  border:1px solid rgba(255,255,255,.6);
  border-radius:50px;

  background:rgba(0,0,0,.25);
  color: white;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
}

.btn-third img{
  width:24px;
  height:24px;
}

.genre-button{
  position: absolute;
  top: 50px;
  background-color: #22282A;
  padding: 10px 22px;
  gap: 8px;
  border-radius: 16px;
}
.genre-header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.genre-menu{
  position: absolute;
  top: 44px;
  left: 0;
  min-width: 150px;
  background: #22282A;
  border-radius: 16px;
  padding: 16px 0;
  display: none;
  box-shadow: 0 10px 30px rgba(0,0,0,.5);
  z-index: 999;
}
.genre-menu a{
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 8px 12px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  white-space: nowrap;
  
}
.genre-button a:hover{
  background: rgba(255,255,255,.05);
}
.genre-button:hover .genre-menu{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

/* MOVIE CONTINUE WATCHING SECTION */

.movie-section {
  margin: 50px 20px;
  color: white;
  
}
.movie-section h3 {
  margin-bottom: 20px;
}
.movie-list{
  box-sizing: border-box;
  width: 100%;
}
.movie-list .movie-card{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  width: 100%;
}
.movie-list .movie-card--portrait {
  width: 100%;
  height: auto;
  aspect-ratio: 234 / 365;
}
.movie-wrapper {
  position: relative;
  overflow: visible;
}
.movie-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.movie-scroll::-webkit-scrollbar {
  display: none;
}

.movie-card {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  width: max-content;
}
.movie-card::-webkit-scrollbar{
  display: none;
}

.movie-card--landscape {
  position: relative;
  width: 300px;
  aspect-ratio: 16/9;
  border-radius: 8px;
  flex-shrink: 0;
  transition: transform 0.3s;
  overflow: hidden;
}
.movie-card--portrait {
  position: relative;
  width: 234px;
  height: 365px;
  border-radius: 8px;
  flex-shrink: 0;
  transition: transform 0.3s;
  overflow: hidden;
}

.movie-card--landscape img,
.movie-card--portrait img{
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 8px;
}
.top-label{
  width: 31px;
  position: absolute;
  background-color: #B71F1D;
  border: 1px solid #B71F1D;
  top: 0;
  right: 5px;
  padding: 4px;
  gap: 10px;
  font-size: 14px;
  align-items: center;
  border-radius: 0 4px 0 4px;
}
.episode-label{
  position: absolute;
  background-color: #0F1E93;
  border: 1px solid #0F1E93;
  top: 10px;
  left: 10px;
  padding: 4px 10px;
  gap: 10px;
  font-size: 14px;
  font-weight: 700;
  align-items: center;
  border-radius: 24px;
}
.premium-label{
  position: absolute;
  background-color: #B7A207;
  border: 1px solid #B7A207;
  top: 10px;
  left: 10px;
  padding: 4px 10px;
  gap: 10px;
  font-size: 14px;
  font-weight: 700;
  align-items: center;
  border-radius: 24px;
}

.movie-info{
  display:flex;
  justify-content:space-between;
  align-items: center;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px;
  background:linear-gradient(
      to top,
      rgba(0,0,0,.85),
      rgba(0,0,0,.3),
      transparent
  );
}
/* MOVIE HOVER */
.material-symbols-outlined.play {
  background-color: white;
  color: black;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.movie-hover{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 8px 8px;
  padding: 45px 0 16px;
  z-index: 2;
  font-size: 13px;

  background: linear-gradient(
    to bottom,
    rgba(31, 33, 35, 0),
    rgba(31, 33, 35, 0.85) 40%,
    #1F2123 65%
  );

  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  pointer-events: none;
}

.movie-card--landscape:hover .movie-hover,
.movie-card--portrait:hover .movie-hover {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.movie-card--landscape:hover{
  transform:scale(1.05) translateY(-3px);
  z-index: 2;
}
.movie-card--portrait:hover{
  transform:scale(1.02) translateY(-9px);
  z-index: 2;
}

.hover-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0;
}
.hover-buttons button{
  background-color: #181A1C;
  color: white;
  border: 1px solid rgb(246, 246, 246);
  border-radius: 20px;
  padding: 5px;
}
.hover-buttons .hover-buttons-left{
  display: flex;
  gap: 16px;
}

.hover-info{
  display: flex;
  justify-content: space-between;
  margin: 15px 20px;
  align-items: center;
}
.hover-age{
  border-radius: 30px;
  padding: 4px 12px;
  width: fit-content;
  cursor: pointer;
  display: flex;
  background-color: #CDF1FF4D;
}
.watch-progress {
  display: flex;
  margin: 15px 20px;
  align-items: center;
  gap: 10px;
}
.watch-progress-track{
  flex: 1;
  height: 4px;
  background-color: #4a4a4a;
  border-radius: 10px;
  overflow: hidden;
}
.watch-progress-bar {
  height: 100%;
  background-color: #3254FF;
  border-radius: 10px;
}
.hover-genre{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 6px 10px;
  margin: 0 20px;
}

.css-arrow{
  padding: 0;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  width:44px;
  height:44px;
  border:none;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  background:rgba(0,0,0,.5);
  color:white;
  cursor:pointer;
  z-index:10;
  opacity:1;
  transition:.3s;
}
.css-arrow .left{
  left: 0px;
}

.css-arrow .right{
  right: 0px;
}
.movie-wrapper:hover .css-arrow{
  opacity:1;
}

/* Movie Pop-Up */
.popup-overlay{
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  background-color: #181A1C;
  color: white;
  z-index: 99;
  padding: 20px;
  animation: popupFadeIn 0.25s ease 
}
.popup-overlay.closing {
  animation: popupFadeOut 0.3s ease forwards;
}

@keyframes popupFadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes popupFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes popupScaleIn {
  from{
    opacity: 0;
    transform: scale(0.92) translateY(20px);
  }
  to{
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
@keyframes popupScaleOut {
  from {
    opacity: 1;
    transform: scale(1) translateY(0);
  }

  to {
    opacity: 0;
    transform: scale(0.92) translateY(20px);
  }
}
.movie-popup{
  flex-direction: column;
  position: relative;
  width: min(993px, 100%);
  max-height: 90vh;
  background-color: #181A1C;
  border-radius: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box; 
  animation: popupScaleIn 0.30s ease;
}
.popup-overlay.closing .movie-popup {
  animation: popupScaleOut 0.3s ease forwards;
}
.movie-popup .hero {
  position: relative;
  width: 100%;
  height: 554px;
  flex-shrink: 0;
  padding: 40px 48px;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}
.movie-popup .hero-button{
  margin: 20px 0;
}
.movie-popup-info{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 24px 48px;
  gap: 40px;
}
.info-left{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.info-left p{
  margin: 0;
  line-height: 1.5;
}
.layout-left{
  display: flex;
  align-items: center;
  gap: 16px;
}
.layout-left span{
  color: #C1C2C4;
}
.info-right{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
}
.info-row {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 8px;
  line-height: 1.4;
}
.info-label {
  color: #C1C2C4;
}
.info-value {
  color: white;
}
.popup-close{
  position: fixed;
  top: 60px;
  right: 40px;
  z-index: 5;
  background-color: #181A1C;
  color: #C1C2C4;
  padding: 8px;
  border: none;
  border-radius: 36px;
  cursor: pointer;
}
.popup-footer{
  display: flex;
  flex-direction: column;
  padding: 20px 48px;
}
.card-footer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;
  width: 100%;
}
.card-footer .movie-card--portrait {
  width: 100%;
  height: auto;
  aspect-ratio: 234 / 365;
}

/* EPISODE FOOTER */
.episode-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.episode-item {
  display: grid;
  grid-template-columns: 30px 120px 1fr;
  gap: 12px;
  align-items: center;
  padding: 16px 24px;
  background-color: #22282A;
  border-radius: 8px;
  font-size: 14px;
}

.episode-item img {
  width: 120px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
  border-bottom: 1px solid red;
}

.episode-info {
  min-width: 0;
  padding: 10px;
}
.episode-info .title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.episode-info h5 {
  display: block;
  margin-bottom: 6px;
  font-size: 15px;
}
.episode-info span{
  font-size: 12px;
}
.episode-info p {
  margin: 0;
  color: #C1C2C4;
  font-size: 13px;
}


/* FOOTER */
.footer{
  color: white;
  display: flex;
  justify-content: space-between  ;
  padding: 60px 20px;
  border-top: 1px solid #3d3d3d;
  font-size: 16px;
  gap: 20px;
}
.footer-logo{
  width: 300px;
}
.footer-logo img{
  width: 160px;
  margin-bottom: 24px;
}

.footer-menu ul{
  display: grid;
  grid-template-columns: repeat(4,auto);
  list-style: none;
  padding: 0;
  gap: 13px;
  margin: 20px 0;

}
.footer ul a{
  color: #C1C2C4;
  text-decoration: none;
}

.footer-help ul{
  list-style: none;
  gap: 13px;
}
.footer-help li{
  margin-top: 20px;
  margin-bottom: 20px;
}
.copyright{
  color:#C1C2C4;
}

.footer-title{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.footer-title p{
  font-weight:700;
}

.material-symbols-outlined.footer-arrow{
  display:none;
}
::-webkit-scrollbar-thumb{
  display: none;
}


/* RESPONSIVE MEDIA */
@media (max-width: 440px) {
  *{
    font-size: 14px;
  }
  p{
      font-size: 14px;
  }
  h3{
      font-size: 24px;
  }
  button{
    font-size: 14px;
  }
  .navbar{
      padding: 18px 20px;
      height: auto;
  }
  .nav-left{
      display: flex;
      align-items: center;
      gap: 16px;
  }
  .nav-menu{
      display: flex;
      gap: 10px;
      padding: 0;
      margin: 0;
  }
  .nav-menu a{
      font-size: 16px;
  }
  .logo-desktop{
      display: none;
  }
  .logo-mobile{
      display: block;
      width: 20px;
      height: 20px;
      margin: 0;
  }
  .profile-menu img{
      width: 30px;
      height: 30px;
  }
  .dropdown-menu a{
  font-size: 14px;
  padding: 10px;
  }
  .hero-left h1{
      font-size: 29px;
  }
  .hero-left p{
      font-size: 18px;
  }
  .hero{
      padding: 20px 20px;
  }
  .btn-primary,
  .btn-secondary{
      font-size: 15px;
  }
  .btn-third img{
      width: 12px;
      height: 12px;
  }
  .btn-third {
      border: none;
  }
  /* Movie Card */
  .movie-card2{
      width: 95px;
      height: 145px;
  }
  .movie-list .movie-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .movie-list .movie-card--portrait {
    width: 100%;
  }
  /* Hover */
  .movie-hover{
    display: none;
  }
  .movie-popup .hero {
    height: 280px;
    padding: 30px 20px;
  }
  .movie-popup-info {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
  }
  .movie-popup .hero-button{
    margin: 0;
  }
  .card-footer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  /* POP UP */
  .popup-footer {
    padding: 10px 19px;
  }
  .episode-item {
    display: flex;
    gap: 0;
    padding: 5px 8px;
  }
  .episode-item img {
    width: 80px;
    height: 50px;
    margin-left: 10px;
  }
  .episode-info span{
    font-size: 11px;
  }
  .episode-info p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* FOOTER */
  .copyright{
      color:#C1C2C4;
  }
  .footer {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 24px;
      padding: 30px 20px;
  }
  .footer-logo, .footer-menu, .footer-help{
      width: 100%;
  }
  .footer-logo{
      align-items: flex-start;
      gap: 12px;
      margin: 0;
  }
  .footer-logo img{
      width: 100px;
      height: auto;
      margin: 0 0 12px 0;
  }
  .footer-title{
      display:flex;
      justify-content:space-between;
      align-items:center;
  }
  .footer-menu ul, .footer-help ul{
      display: none;
  }
  .material-symbols-outlined.footer-arrow{
      display: block;
  }
  .footer-menu .show{
      display: grid;
  }
  .footer-help .show{
      display: grid;
      margin: 20px 0;
  }
  .footer-help li{
      margin-top: 0px;
      margin-bottom: 0px;
    }
  .footer ul a{
      font-size: 14px;
  }
}